* {
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "result result result result"
        "clear clear del div"
        "seven eight nine mul"
        "four five six sub"
        "one two three add"
        "zero zero zero equal";
    gap: 2px;
    background-color: black;
    border: 2px solid black;

}

.result {
    grid-area: result;
    color: white;
    text-align: right;
    font-family: monospace;
    font-size: 2.5rem;
    padding: 10px;
}

.clear{
    grid-area: clear;
}

.del {
    grid-area: del; 
}

.div {
    grid-area: div; 
}

.seven {
    grid-area: seven; 
} 

.eight {
    grid-area: eight; 
}

.nine {
    grid-area: nine; 
}   

.mul {
    grid-area: mul; 
}

.four {
    grid-area: four; 
}   

.\5 {
    grid-area: five; 
}   

.\six {
    grid-area: six; 
}   

.sub {
    grid-area: sub; 
}

.one {
    grid-area: one; 
}

.two {
    grid-area: two; 
}

.three {
    grid-area: three; 
}

.add {
    grid-area: add; 
}

.zero {
    grid-area: zero; 
}

.equal {
    grid-area: equal; 
}   


.button {
    padding: 30px;
    font-size: 2.5rem;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.operator {
    background-color: #f0ad4e;
    color: white;
}

.number, .clear, .del {
    background-color: #e6e6e6;
}

.number:hover, .clear:hover, .del:hover {
    background-color: #ebebeb;
}

.number:active, .clear:active, .del:active{
    background-color: #bbbcbe;
}

.operator:hover {
    background-color: #dfb07e;
}

.operator:active {
    background-color: #dd8d37;
}   