body{
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43281c;
    height: 50px;
    width: 100%;
}

h1{
    font-size: 1em;
    color: wheat;
}

.logo{
    position: relative;
    height: 25px;
}

h2{
    font-size: 18px;
    font-weight: lighter;
    color: brown;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
}

.items, .name, .payment{
    padding: 5px;
    border: solid 1px brown;
    border-radius: 5px;
    margin: 20px;
    background-color: #eee1d5;      
}
.items{
    position: relative;
    text-align: left;
    grid-area: items;
}

.item{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
      "quantity type price"
      ". extras .";
    gap: 6px 6px; /* row-gap, column-gap */
    align-items: center;
}

.quantity{
    font-weight: lighter;
    display: inline;
    text-align: left;
    margin: 20px;
    grid-area: quantity;

}

.type{
    font-weight: bolder;
    display: inline;
    text-align: left;
    margin: 20px;
    margin-left: 0px;
    grid-area: type;
}

.price{
    font-weight: bolder;
    display: inline;
    text-align: right;
    margin: 20px;
    grid-area: price;
}

.extras{
    font-weight: lighter;
    color: brown;
    grid-area: extras;
}

.extras p {
    margin: 0px;
}

.separator{
    height: 1px;
    background-color: brown;
    margin: 10px;
}

.name{
    grid-area: name;
}   

.payment{
    grid-area: payment;
}

.card_no_box{
    display:block;
    padding: 20px;
    position: relative
}
.ccv_box{
    display:block;
    padding: 20px;
}

.container{
    text-align: center;
    display: grid;
    grid-template-areas: 
    "items name"
    "items payment";
}

.input {
    background-color: inherit;
    border-color: brown;
    padding: 8px;
    border-radius: 5px;
    display: block;          /* ensure it behaves like a block */
    width: 100%;             /* take available width so labels wrap predictably */
    box-sizing: border-box;
  }

.input-label{
    background-color: inherit;
    font-size: 14px;
    position: static;   /* stop using relative nudges */
    display: block;     /* put label on its own line above the input */
    margin: 0 0 6px 0;
    padding: 0 2px;
}
    

.checkout-details{
    text-align: center;
}

.submit{
    text-align: center;
    display: block;
    margin: 0 auto;
}